<h1>Configuraciones y preferencias</h1>

<h2>Datos personales</h2>
<div class="center"><a mat-button routerLink="/dashboard-comprador/formodicom">Modificar mis datos</a></div>
<div class="center"><a mat-button routerLink="/dashboard-comprador/formcamcont">Cambiar mi contraseña</a></div>

<h2>Notificaciones SMS</h2>

<form class="formnotif" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" ngNativeValidate>

  <mat-slide-toggle color="warn" formControlName="notificaciones">Aceptar notificaciones al realizar compras</mat-slide-toggle>

   <!--Estado del slide
   <p>Form Group Status: {{formGroup.status}}</p> -->
   <p></p>
  <button mat-raised-button type="submit">Guardar</button>
</form>

