<mat-card>
    <mat-card-title>ElectroPreste</mat-card-title>
    <mat-card-subtitle>Fiesta electronica en el cholet del Belmont</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>Mas informacion</button>
      <button mat-button>Comprar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>ElectroPreste</mat-card-title>
    <mat-card-subtitle>Fiesta electronica en el cholet del Belmont</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>Mas informacion</button>
      <button mat-button>Comprar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>ElectroPreste</mat-card-title>
    <mat-card-subtitle>Fiesta electronica en el cholet del Belmont</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>Mas informacion</button>
      <button mat-button>Comprar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>ElectroPreste</mat-card-title>
    <mat-card-subtitle>Fiesta electronica en el cholet del Belmont</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>Mas informacion</button>
      <button mat-button>Comprar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <br>
  <br>
  <section>
    <div class="example-button-row">
      <button mat-button routerLink ="/dashboard/form-evento" color="primary">Crear nuevo evento</button>
    </div>
  </section>


  