<h1>{{nombreEvento}}</h1>

<div class="container">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <mat-card>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>Dirección: {{direccionEvento}}</mat-card-subtitle>
                    <mat-card-subtitle>NIT: {{nit}}</mat-card-subtitle>
                    <mat-card-subtitle>Total: {{total}}</mat-card-subtitle>
                    <mat-card-subtitle>Calificacion promedio: {{calificacion}}</mat-card-subtitle>
                </mat-card>
            </tr>
            <h2>Comentarios:</h2>
            <tr *ngFor="let comentario of comentarios
            | paginate: { itemsPerPage: 25, currentPage: page }">
                <mat-card>
                    <mat-card-subtitle>ID: {{comentario.idCliente}}</mat-card-subtitle>
                    <mat-card-subtitle>{{comentario.comentario}}</mat-card-subtitle>
                </mat-card>
                <br>
            </tr>
            <h3>Calificanos:
                <mat-slider thumbLabel [(ngModel)]="value" [displayWith]="formatLabel" tickInterval="1" step="1" min="1" max="10"
                    aria-label="units"></mat-slider>
            </h3>
            <mat-card>
                <form [formGroup]="form" (ngSubmit)="comentar()">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Deja un comentario</mat-label>
                        <textarea matInput formControlName="comentario"
                            placeholder="Ej. El evento me pareció..."></textarea>
                    </mat-form-field>
                    <button type="submit" mat-raised-button mat-button color="warn">Comentar</button>
                </form>
            </mat-card>
        </tbody>
    </table>
</div>

<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>