
 <form [formGroup]="form" (ngSubmit)="registrar()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Empresa (disabled)</mat-label>
      <input matInput disabled value="GigaTickets" >
    </mat-form-field>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre del evento</mat-label>
        <input matInput formControlName="nombres">
      </mat-form-field></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Lugar del evento</mat-label>
          <input matInput formControlName="lugar">
        </mat-form-field></td>
      </tr></table>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Capacidad</mat-label>
          <input matInput formControlName="capacidad">
        </mat-form-field></td>
      </tr></table>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Estado del evento</mat-label>
          <input matInput formControlName="estado">
        </mat-form-field></td>
      </tr></table>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Organizador del evento</mat-label>
          <input matInput formControlName="Organizador">
        </mat-form-field></td>
      </tr></table>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Precio</mat-label>
      <input type="tel" matInput placeholder="$$$" formControlName="precio">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>
<button mat-button routerLink ="/dashboard/eventos" color="primary">Crear</button>
