<div class="container">
    <h1 class="text-center">Dashboard resumen ultimo mes</h1>
    <div class="row">
        <div class="col-md-3">
            <button type="submit" class="text-center" mat-raised-button mat-button color="primary"
                    routerLink="/dashboard/chart">Ver resumen Global</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">Eventos</h3>
            <p-chart type="pie" [data]="eventosData" [options]="pieOptions"></p-chart>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Compras</h3>
            <p-chart type="pie" [data]="comprasData" [options]="pieOptions"></p-chart>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Tickets</h3>
            <p-chart type="pie" [data]="ticketsData" [options]="pieOptions"></p-chart>
        </div>
    </div>
</div>